<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tencent.could.ocrdemo">

    <!--摄像头使用权限-->
    <uses-feature android:name="android.hardware.camera" />
    <uses-permission
        android:name="android.permission.CAMERA"
        android:required="true" />
    <!--文件存储使用权限-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--网络访问权限-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".demo.App"
        android:allowBackup="true"
        android:icon="@mipmap/ocr_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ocr_icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".demo.OcrResultActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".demo.OcrMainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".demo.OcrTypeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".demo.OcrTypeIdCardActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />


    </application>

</manifest>