<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>idCardState</key>
		<integer>0</integer>
		<key>idCardDesc</key>
		<string>拍摄人像面</string>
		<key>idCardTitle</key>
		<string>身份证正面</string>
		<key>idCardIcon</key>
		<string>idCardFront.svg</string>
	</dict>
	<dict>
		<key>idCardState</key>
		<integer>0</integer>
		<key>idCardDesc</key>
		<string>拍摄国徽面</string>
		<key>idCardTitle</key>
		<string>身份证反面</string>
		<key>idCardIcon</key>
		<string>idCardBack.svg</string>
	</dict>
</array>
</plist>
