<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>typeDesc</key>
		<string>识别身份证件</string>
		<key>imageName</key>
		<string>idCard.svg</string>
		<key>title</key>
		<string>身份证</string>
	</dict>
	<dict>
		<key>typeDesc</key>
		<string>识别银行卡号码等</string>
		<key>imageName</key>
		<string>bankCard_blue.svg</string>
		<key>title</key>
		<string>银行卡</string>
	</dict>
	<dict>
		<key>typeDesc</key>
		<string>扫描名片识别内容</string>
		<key>imageName</key>
		<string>businessCard.svg</string>
		<key>title</key>
		<string>名片</string>
	</dict>
</array>
</plist>
